@font-face {
  src: url("../fonts/Raleway-Regular.woff") format("woff");
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: url("../fonts/Raleway-Medium.ttf") format("woff");
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
}

@font-face {
  src: url("../fonts/Raleway-SemiBold.woff") format("woff");
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
}

@font-face {
  src: url("../fonts/Raleway-Bold.woff") format("woff");
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
}
