body {
  font-family: 'Montserrat', sans-serif;
}

h1, h3 {
  font-weight: 600;
}

h4 {
  color: #2D9CDB;
  font-weight: bold;
}

h5, h6 {
  font-weight: 600;
  color: #FFFFFF;
}

/* WELCOME PART*/
#welcome-part {
  background-image: url("../images/welcome-image.png");
  background-color: #808000;
  background-size: cover;
  position: relative;
  padding-bottom: 70px;
}

#welcome-part::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: -moz-linear-gradient(top, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 1) 100%);
  background: linear-gradient(to bottom, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 1) 100%);
}

#welcome-part .container {
  position: relative;
}

.welcome-button-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.navigation-menu {
  background-color: transparent;
  font-size: 13px;
  padding: 15px;
  font-weight: 600;
}

#navigation-bar {
  border-bottom: solid;
  border-color: #d3d3d34a;
  border-width: 1px;
}

#navigation-bar.scrolled {
  background-color: #333333 !important;
  transition: background-color 200ms linear;
}

.logo {
  width: 92px;
}

.ru-ro {
  color: white;
}

.navigation-elements {
  color: white;
}

.left-part-links {
  margin-right: 30px;
}

.contact-phone {
  font-size: 18px;
}

.contact {
  font-size: 12px;
  text-align: center;
}

.welcome-text {
  padding: 100px 35px;
  color: white;
}

.welcome-button {
  font-size: 13px;
  color: white;
  background: #2D9CDB;
  border-radius: 10px;
  padding: 16px 80px;
  margin-top: 12px;
  box-shadow: 0 5px 10px 0 lightgrey;
}

.big-heading {
  padding: 54px;
}

.welcome-button-right button {
  font-size: 11px;
  border-radius: 70px;
  width: 80px;
  height: 80px;
  color: white;
  background: #2D9CDB;
  box-shadow: 0 5px 10px 0 lightgrey;
  margin: 12px;
  text-align: center;
}

.custom-toggler.navbar-toggler {
  border-color: #FFFFFF;;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*WELCOME PART CARDS*/
#welcome-cards {
  background-color: #333333;
  padding: 40px 0;
}

.cards {
  background-color: transparent;
  color: white;
  border: 1px solid rgba(45, 156, 219, 0.5);
  padding: 15px;
}

.cards-carousel-padding {
  padding: 20px 125px;
}

.cards-title {
  color: white;
  text-align: center;
  margin-bottom: 45px;
  margin-top: 60px;
}

.cards-centering {
  margin: 0 auto;
}

/*ADVANTAGES PART*/
#parfums-advantages {
  background-color: #ECF8FF;
}

.advantages-title {
  text-align: center;
  padding: 50px 60px;
}

.parfum-description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 30px;
}

.image-rounded {
  box-shadow: 0 0px 15px 0 #cccccc;
  border-radius: 5px;
}

.text-description {
  padding: 20px;
  margin: auto;
}

.text-description p {
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  word-spacing: 8px;
  line-height: 25px;
}

.certificate-click-line {
  border: none;
  border-bottom: dashed;
  border-color: #2D9CDB;
  border-width: 1px;
}

/*SLIDER HEADING*/
#parfum-catalog-head {
  padding: 80px 0 30px;
  background-color: #ECF8FF;
}

.catalog-title {
  text-align: center;
}

.gender-choosing-buttons {
  background-color: transparent;
  border: none;
  border-bottom: dashed;
  border-width: 1px;
  margin: 20px 50px;
  font-size: 20px;
  color: #2D9CDB;
}

/*SLIDERS CAROUSEL*/
#catalog-slider {
  background-color: #ECF8FF;
}

.catalog-sliders {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.catalog-text {
  padding-left: 25px;
}

.catalog-text-p-1 {
  padding-top: 12px;
}

.catalog-text-p-2 {
  border: solid;
  width: 25%;
  margin-top: 15px;
  background-color: #FFFFFF;
  text-align: center;
  border-color: #2D9CDB;
  border-width: 1px;
  color: #2D9CDB;
}

.catalog-slider-button {
  font-weight: bold;
  font-size: 13px;
  color: white;
  background: #2D9CDB;
  border-radius: 10px;
  padding: 16px 45px;
  box-shadow: 0 5px 10px 0 lightgrey;
}

.vector-button {
  background-color: transparent;
  width: 49px;
  height: 51px;
  border-radius: 5px;
  border: solid;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.3);
}

/*CLIENTS FEEDBACK*/
#client-feedback {
  background-color: #333333;
}

.client-card {
  background-color: transparent;
  color: #FFFFFF;
  margin: 20px;
  border: none;
}

.feedback-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  padding: 12px 58px;
}

.client-body-text {
  font-size: 12px;
  color: #ffffffcc;
  padding: 0;
  margin-top: 12px;
}

.feedback-heading {
  text-align: center;
  color: #FFFFFF;
  padding: 75px 50px 40px;
}

.fa {
  margin-right: 12px;
}

/*BEING SALES SECTION*/
#being-sales {
  background-color: #333333;
}

.being-sales-heading {
  text-align: center;
  padding: 85px 0 40px;
  color: #FFFFFF;
}

.sale-card {
  padding: 20px;
  border: solid;
  border-color: #2d9cdb80;
  border-width: 1px;
  background-color: transparent;
}

.cards-content {
  padding: 0;
  margin-top: 12px;
}
