html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1, h3 {
  font-weight: 600;
}

h4 {
  color: #2D9CDB;
  font-weight: bold;
}

h5, h6 {
  font-weight: 600;
  color: #FFFFFF;
}

/* WELCOME PART*/
#welcome-part {
  background-image: url("../images/welcome-image.png");
  background-color: #808000;
  background-size: cover;
  position: relative;
  padding-bottom: 70px;
}

#welcome-part::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: -moz-linear-gradient(top, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 1) 100%);
  background: linear-gradient(to bottom, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 1) 100%);
}

#welcome-part .container {
  position: relative;
}

.welcome-button-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.navigation-menu {
  background-color: transparent;
  font-size: 13px;
  padding: 15px;
  font-weight: 600;
}

#navigation-bar {
  border-bottom: solid;
  border-color: #d3d3d34a;
  border-width: 1px;
}

#navigation-bar.scrolled {
  background-color: #333333 !important;
  transition: background-color 200ms linear;
}

.logo {
  width: 92px;
}

.ru-ro {
  color: #FFFFFF;
}

.navigation-elements {
  color: #FFFFFF;
}

.left-part-links {
  margin-right: 30px;
}

.contact-phone {
  color: #FFFFFF;
  font-size: 18px;
}

.contact {
  color: #FFFFFF;
  font-size: 12px;
  text-align: center;
}

.welcome-text {
  padding: 100px 35px;
  color: #FFFFFF;
}

.welcome-button {
  font-size: 13px;
  color: #FFFFFF;
  background: #2D9CDB;
  border-radius: 10px;
  padding: 16px 80px;
  margin-top: 12px;
  box-shadow: 0 2px 4px 0 black;
  border: none;
}

.big-heading {
  padding: 54px;
}

.welcome-button-right button {
  border: none;
  font-size: 11px;
  border-radius: 70px;
  width: 80px;
  height: 80px;
  color: #FFFFFF;
  background: #2D9CDB;
  box-shadow: 0 2px 4px 0 black;
  margin: 12px;
  text-align: center;
}

.custom-toggler.navbar-toggler {
  border-color: #FFFFFF;
  ;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*WELCOME PART CARDS*/
#welcome-cards {
  background-color: #333333;
  padding: 40px 0;
}

.cards {
  background-color: transparent;
  color: #FFFFFF;
  border: 1px solid rgba(45, 156, 219, 0.5);
  padding: 15px;
}

.cards-carousel-padding {
  padding: 20px 125px;
}

.cards-title {
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 45px;
  margin-top: 60px;
}

.cards-centering {
  margin: 0 auto;
}

/*ADVANTAGES PART*/
#parfums-advantages {
  background-color: #ECF8FF;
}

.advantages-title {
  text-align: center;
  padding: 50px 60px;
}

.parfum-description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 30px;
}

.image-rounded {
  box-shadow: 0 0px 15px 0 #cccccc;
  border-radius: 5px;
}

.text-description {
  padding: 20px;
  margin: auto;
}

.text-description p {
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  word-spacing: 8px;
  line-height: 25px;
}

.certificate-click-line {
  display: inline-block;
  border: none;
  border-bottom: dashed;
  border-color: #2D9CDB;
  border-width: 1px;
}

/*SLIDER HEADING*/
#parfum-catalog-head {
  padding: 80px 0 30px;
  background-color: #ECF8FF;
}

.catalog-title {
  text-align: center;
}

.gender-choosing-buttons {
  background-color: transparent;
  border: none;
  border-bottom: dashed;
  border-width: 1px;
  margin: 20px 50px;
  font-size: 20px;
  color: #2D9CDB;
}

.gender-choosing-buttons.active {
  border: none;
  border-bottom: dashed;
  border-width: 1px;
  color: black;
}

/*SLIDERS CAROUSEL*/
#catalog-slider {
  background-color: #ECF8FF;
}

.catalog-sliders {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.catalog-text {
  padding-left: 25px;
}

.catalog-text-p-1 {
  padding-top: 12px;
}

.catalog-text-p-2 {
  font-weight: bold;
  border: solid;
  width: 25%;
  margin-top: 15px;
  background-color: #FFFFFF;
  text-align: center;
  border-color: #2D9CDB;
  border-width: 1px;
  color: #2D9CDB;
}

.catalog-slider-button {
  font-weight: bold;
  font-size: 13px;
  color: white;
  background: #2D9CDB;
  border-radius: 10px;
  padding: 16px 45px;
  box-shadow: 0 5px 10px 0 lightgrey;
}

.vector-button {
  background-color: transparent;
  width: 49px;
  height: 51px;
  border-radius: 5px;
  border: solid;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.3);
}

/*CLIENTS FEEDBACK*/
#client-feedback {
  background-color: #333333;
}

.client-card {
  background-color: transparent;
  color: #FFFFFF;
  margin: 20px;
  border: none;
}

.feedback-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  padding: 12px 58px;
}

.client-body-text {
  font-size: 12px;
  color: #ffffffcc;
  padding: 0;
  margin-top: 12px;
}

.feedback-heading {
  text-align: center;
  color: #FFFFFF;
  padding: 75px 50px 40px;
}

.fab {
  margin-right: 12px;
}

/*BEING SALES SECTION*/
#being-sales {
  padding-bottom: 295px;
  background-color: #333333;
}

.being-sales-heading {
  text-align: center;
  padding: 85px 0 40px;
  color: #FFFFFF;
}

.sale-card {
  padding: 20px;
  border: solid;
  border-color: #2d9cdb80;
  border-width: 1px;
  background-color: transparent;
}

.cards-content {
  padding: 0;
  margin-top: 12px;
}

/* TWO PARTS*/
#buy-parfums-for-commerce {
  margin-top: -200px;
  margin-bottom: -200px;
  padding-bottom: 21px;
}

.two-parts {
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 0;
}

.right-part {
  background-color: #ECF8FF;
  background-image: url("../images/man-with-parfum.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  margin: 12px;
  box-shadow: 0 -3px 20px 0 #00408561;
  padding: 43px 170px 28px 22px;
  color: black;
}

.right-part button {
  font-size: 13px;
  color: #FFFFFF;
  background: #2D9CDB;
  border-radius: 10px;
  padding: 16px 63px;
  margin-top: 12px;
  box-shadow: 0 2px 4px 0 #6c757d;
  border: none;
}

.left-part {
  margin: 12px;
  box-shadow: 0 -3px 20px 0 #00408561;
  padding: 43px 36px 28px 22px;
  color: #FFFFFF;
  background-color: #2D9CDB;
}

.left-part button {
  font-size: 13px;
  color: #2D9CDB;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 16px 44px;
  margin-top: 12px;
  box-shadow: 0 2px 4px 0 #6c757d;
  border: none;
}

/*HOW IT WORKS*/
#how-it-works {
  padding-top: 200px;
  background-color: #ECF8FF;
}

.how-it-works-heading {
  text-align: center;
  padding: 60px 0 0;
}

.how-it-works-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  padding: 20px 40px;
}

.how-it-works-cards h5 {
  color: black;
}

.work-info-cards {
  padding: 63px 12px 9px;
  margin: 74px 20px;
  background-color: transparent;
  border: solid;
  border-color: #2d9cdb33;
  border-width: 1px;
}

.work-info-cards-p {
  color: #222222b3;
  font-size: 14px;
}

.circle-numbers {
  text-align: center;
  border-radius: 31px;
  width: 60px;
  height: 60px;
  font-size: 38px;
  margin: auto;
  position: relative;
  margin-top: -99px;
  background-color: #2D9CDB;
  color: white;
}

.cards-work-content {
  padding-top: 55px;
}

/*MAP HEADING*/
#map-heading {
  background-color: #ECF8FF;
}

.map-title {
  padding: 57px 0 30px;
  text-align: center;
}

/*MAPS PART*/
#map {
  background-color: #ECF8FF;
}

.map-container {
  display: grid;
  grid-template-columns: 40% 60%;
}

.map-container h5 {
  color: black;
}

.map-top {
  top: 95px;
}

.map-part {
  padding: 15px;
}

.accordion-item {
  margin-bottom: 15px;
}

.accordion-title {
  background-color: #2D9CDB;
  color: #FFFFFF;
}

.first-span {
  font-weight: 600;
}

.second-span {
  font-size: 12px;
}

.accordions {
  padding: 15px;
}

.accordions .accordion-title .fa-chevron-up {
  display: block;
}

.accordions .accordion-title .fa-chevron-down {
  display: none;
}

.accordions .accordion-title.collapsed {
  background-color: #ECF8FF;
  ;
  color: black;
  border: 1px solid #2d9cdb;
  border-radius: 5px;
}

.accordions .accordion-title.collapsed .fa-chevron-up {
  display: none;
}

.accordions .accordion-title.collapsed .fa-chevron-down {
  display: block;
}

/*FOOTER PART*/
#footer {
  background-color: #ECF8FF;
}

.footer-part {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  color: #222222;
  padding: 62px 0 20px;
}

.footer-icons {
  padding: 14px
}

/*MODALS*/
#modals {
  font-family: "Monsterrat", sans-serif;
}

.modal-part {
  width: 70%;
}

.modal-heading {
  margin-bottom: 15px;
  text-align: center;
}

.modal-heading-text {
  text-align: center;
  position: relative;
  padding: 15px;
}

.modal-heading h4 {
  font-size: 27px;
  font-weight: 500;
  color: black;
  padding: 0 32px;
  margin-bottom: 7px;
}

.mode-footer {
  border: none;
}

.modal-footer button {
  margin: auto;
}

.select-parfums {
  margin-bottom: 15px;
}

.close-button {
  cursor: pointer;
  padding: 12px;
  position: absolute;
  top: 0;
  right: 0;
  color: #2D9CDB;
}

.if-statement {
  text-align: center;
  color: #FF0000;
  font-size: 13px;
  margin: 0 21px;
}

.after-order-content {
  width: 70%;
}

.after-order-heading {
  text-align: center;
  color: #222222;
  font-weight: 500;
  padding: 27px 51px 14px;
  word-spacing: 2px;
}

.after-order-body {
  margin: auto;
}

.certificate-container {
  position: relative;
  text-align: center;
  padding: 25px;
}

.certificate-container .previous-certificate-button {
  width: 45px;
  height: 45px;
  position: absolute;
  left: -25px;
  top: 50%;
  background-color: white;
}

.certificate-container .next-certificate-button {
  width: 45px;
  height: 45px;
  position: absolute;
  right: -25px;
  top: 50%;
  background-color: white;
}
